/*** Large tablet 1024px - 1366px ***/
@media only screen and (max-width:1366px) {
    .hero {
        width: 100%;
        padding: 0.2%;
    }

    .row {
        padding: 0.2%;
    }
}

/*** Tablet 768px - 1024px ***/

@media only screen and (max-width:1024px) {
    body{
        font-size: 18px;
    }

    section{
        padding: 60px 0;
    }
    .message {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .tour-feature {
        font-size: 0.85em;
    }

    .form {
        width: 90%;
    }

    .social, .footer-nav {
        float: none;
        text-align: center;
    }

    .footer-nav {
        margin-bottom: 10px;
    }
}

/*** small Phones 414px - 768px***/

@media only screen and (max-width:768px){
    body{
        font-size: 16x;
    }
    section {
        padding: 30px 0;
    }
    .row, .hero{
        padding: 0 4%;
    }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    .main-nav{
        display: none;
    }
    .moblie{
        display: inline-block;
        margin-top: 2px;
    }
    .logo{
        height: 50px;
        width: auto;
        margin-top: 10px;
        float: left;
    }
    .message {
        width: 100%;
        margin-left: 0;
    }
    h1 {
        font-size: 1.5em;
    }
    h2{
        font-size: 1.2em;
    }
    input[type=submit]{
        width: 100%;
    }
    .form{
        position: relative;
        width: 100%;
        height: auto;
        padding: 30px 20px 0 30px;
    }
}